<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Colors</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].color %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Food</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].food %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Accomodation</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].accomodation %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>

    <h2>Travel Mode</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].travelmode %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>

    <h2>Destination</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].destiination %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    
</body>
</html>